header, nav, section, article, aside, footer {
   display: block;
}

html {
	padding: 30px 0 100px 0;
	margin: 0;
	border-top: 70px solid #003580;
	background-color: #fff;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 13px;
	position: relative;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

section {
	margin: 0 0 20px 0;
	clear: both;
}

h1 {
	font-size: 32px;
	color: #0896ff;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	color: #666;
}

/* header */

.header {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.hotel_name {
	margin: 0 0 5px 0;
}

.hotel_address {
	color: #999;
}

.stars {
	color: #feba02;
}

/* reviews */

.reviews_list {
	list-style: none;
	padding: 0;
	margin: 25px 0 0 0;	
}

.one_review {
	padding: 10px 10px 10px 100px;
	background-color: #e6edf6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	min-height: 60px;
}

.one_review cite:before {
	content: '— ';
}

.review_score {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	background-color: #003580;
	color: #fff;
	text-align: center;
	font-size: 48px;
	border-radius: 5px;
}

.review_content {
	padding: 0;
	margin: 0;
}

.review_content cite {
	display: block;
	margin-top: 5px;
}

/* rooms table */

.button {
	background-color: #0896ff;
	border-radius: 2px solid #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
}

.rooms_table {
	width: 100%;
}

.rooms_table th, .rooms_table td {
	padding: 5px;
}

.rooms_table tr:nth-child(2n) {
	background: #e6edf6;
}

.rooms_table th {
	background-color: #003580;
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 10px 5px;
}

.rooms_table .room_name {
	font-weight: bold;
}

.rooms_table .room_occupancy {
	text-align: center;
	width: 100px;
}

.rooms_table .room_price {
	text-align: right;
	width: 100px;
}

.rooms_table .room_quantity {
	text-align: center;
	width: 150px;
}

.rooms_table tfoot td {
	padding-top: 10px;
	text-align: right;
}



/* footer */

.footer {
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	background: #003580;	
	margin: 0;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Facilities */

.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.facilities li {
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
}

.facilities li:before {
	content: '✔ ';
	color: #0896ff;
}

/* Pagination */
#reviews-controls {
	position: relative;
	min-height: 20px;
}
#reviews-controls .sortable {
	position: absolute;
	padding: 0 0 0 10px;
	right: 0;
	top: 0;
}
.pagination-container {
	text-align: center;
	display: none;
}
.pagination-container.active {
	display: block;
}
.pagination-container ul {
	list-style: none;
	display: inline;
	padding:0;
}
.pagination-container ul li {
	display: inline;
	margin:0 5px;
	color:#3cb3e7;
	font-weight: bold;
}
.pagination-container ul li a {
	color:#fff;
	text-decoration: none;
}
.pagination-container .arrow {
	margin:0 5px;
	color:#3cb3e7;
	font-weight: bold;
	color:#3cb3e7;
	text-decoration: none;
}
.pagination-container .arrow.disabled {
	color:#c0c0c0;
	cursor: text;
}
.pagination-container ul li.links a {
	background: #3cb3e7;
	padding:5px 8px;
}
.pagination-container ul li.links.active a {
	background: #003580;
}