.carousel {
	position:relative;
}
.carousel .carousel-wrapper {
	position: relative;
}
.carousel .arrow {
	z-index: 3;
	width: 21px;
	height: 35px;
	top: 45%;
	bottom: 0;
	position: absolute;
	background-image: url("../images/arrows.png");
	text-indent: -9999px;
}
.carousel .arrow.previous {
	left: 2%;
	background-position: -42px 0;
}
.carousel .arrow.previous:hover {
	cursor: pointer;
}
.carousel .arrow.next {
	right: 2%;
	background-position: -63px 0;
}
.carousel .arrow.next:hover { 
	cursor: pointer;
}
.carousel-container {
	display:block;
	position: relative;
	width:840px;
	overflow: hidden;
	margin:auto;
	background: #000; 
}
.carousel-container .carousel-slide {
	position:relative;  
	left:-840px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width:99999px;
	height:460px;
	z-index: 1;
}
.carousel-container .carousel-slide li {
	display:inline;
	width:100%;
}
.carousel-container .carousel-slide li img {
	float:left;
}
.carousel .text-container {
	position:absolute;
	bottom: 0;
	width:100%;
	height:45px;
	background: #e5eaf2;
	opacity: 0.6;
	z-index: 2;
	text-align: center;
}
#play-button {
	display:inline-block;
	background-color: #0896ff;
	border-radius: 2px solid #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
	margin: 0 0 10px 0px;
	cursor: pointer;
}

.thumb-list ul {
	list-style-type: none;
	width: 840px;
	padding: 0px;
	margin: 10px auto;
}
.thumb-list ul li {
	width: 40px;
	height: 40px;
	margin: 0 5px 5px 0;
	float: left;
	cursor: pointer;
}
.thumb-list ul li img {
	width:100%;
	height:100%;
}
.thumb-list li.active {
	width: 38px;
	height: 38px;
	border: 1px solid #fff;
	outline: 3px solid #8ba8d7
}

